{% extends "ambulances/base.html" %}
{% load static %}

{% block title %}Cruz Roja Login{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/auth.css' %}"/>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
<p>
  Your account doesn't have access to this page.
  To proceed, please login with an account that has access.
</p>
  {% endif %}
{% endif %}

<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">     
      <form class="form-signin"
	    method="post"
	    action="{% url 'login' %}">
	{% csrf_token %}
	
        <div class="upper-box">
          <h3>Cruz Roja Login</h3>
        </div>
	
        <div class="row input_form">
	  
	  {{ form.username }}
	  
	  {{ form.password }}
	  
          <button type="submit"
		  class="btn btn btn-primary btn-success"
		  value="login">Login</button>
	  <input type="hidden" name="next" value="{{ next }}" />
	  
        </div>
	
        <a class="pull-right"
	   href="{% url 'password_reset' %}">Forgot Password?</a>
	
      </form>
    </div>
  </div>
</div>

{% endblock %}
