{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% include 'homepage.html' %}

{% endblock %}

{% block scripts %}

<script>

    // add initialization hook
    add_init_function(initGuest);

    // Ready function
    function initGuest(client) {

        const urlParams = new URLSearchParams(window.location.search);
        const callUsername = urlParams.get('callUsername');
        const callClientId = urlParams.get('callClientId');
        const callMode = urlParams.get('callMode');

        console.log('debug', 'callUsername = ' + callUsername + ', callClientId = ' + callClientId + ', callMode = ' + callMode );

        // new call?
        const hasCallDetails = (callUsername !== null && callClientId !== null);
        if (hasCallDetails) {

            const remoteClient = {
                username: callUsername,
                client_id: callClientId
            };

            if (callMode === 'new') {
                newCall(remoteClient);
            } else if (callMode === 'answer') {
                acceptCall(remoteClient);
            }

            // bring up modal
            $('#videoModalWindow').modal({
                keyboard: false
            });

        }
    }

</script>

{% endblock %}
