
{% load static %}
  
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content %}
<style>
    #remoteVideo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #remoteVideo video,
    #localVideo video {
        width: 100%;
    }
    #localVideo {
        position: absolute;
        width: 25%;
        bottom: 5%;
        right: 5%;
    }


</style>


<div class="container">

    <div class="row">
        <div class="col">

            <h1>{% trans "Video" %}</h1>

            <video id="localVideo" autoplay playsinline></video>
            <video id="remoteVideo" autoplay playsinline></video>

            <div class = "row text-center">
                <div class = "col-md-12">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            {% trans "Select user..." %}
                        </button>
                        <div class="dropdown-menu" id="clients-dropdown">
                        </div>
                    </div>
                    <span id="remoteClientText"></span>
                    <button id="callButton" class="btn-success btn">Call</button>
                    <button id="hangupButton" class="btn-danger btn">Hang Up</button>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

{% render_bundle 'main' 'js' 'VIDEO' %}

{% endblock %}