django==3.0.6
django-braces
environs
psycopg2-binary==2.8.6
djangorestframework==3.10.3
markdown
django-filter
drf-yasg==1.17.1
django-extra-fields
django-extra-views
django-import-export
django-phonenumber-field[phonenumberslite]
django-nose
paho-mqtt
django-formset-js
django-webpack-loader
uwsgi
nexmo
