{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block content %}

{% load formset_tags %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>{% trans "Equipment Set" %}</h1>

            <form method="POST" class="post-form">
                {% csrf_token %}

                <h3>{% trans "Details" %}:</h3>

                <table>
                    {{ form }}
                </table>

                <h3>{% trans "Equipment" %}:</h3>

                {% for formset in inlines %}

                    {{ formset.media }}

                    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                        {{ formset.management_form }}

                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in formset %}
                                <div data-formset-form>
                                    {{ form.as_ul }}
                                    <!--button type="button" data-formset-move-up-button>Move up</button>
                                    <button type="button" data-formset-move-down-button>Move down</button-->
                                    <button type="button" data-formset-delete-button>{% trans "Delete form" %}</button>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                <div data-formset-form>
                                    {{ formset.empty_form.as_ul }}
                                    <!--button type="button" data-formset-move-up-button>Move up</button>
                                    <button type="button" data-formset-move-down-button>Move down</button-->
                                    <button type="button" data-formset-delete-button>{% trans "Delete form" }</button>
                                </div>
                            {% endescapescript %}
                        </script>

                        <!-- This button will add a new form when clicked -->
                        <input type="button" value="{% trans "Add another" %}" data-formset-add>

                        <script>jQuery(function($) {
                            $("#formset").formset({
                                animateForms: true,
                                reorderMode: 'dom',
                            });
                        });</script>

                    </div>

                {% endfor %}

                <p>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
