{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Equipment</h1>

            <h3>Details:</h3>

            <p>
                <strong>Name:</strong>
                <a href="{% url 'equipment:update' pk=equipment.id %}">{{ equipment.get_name }}</a>
            </p>
            <p>
                <strong>Type:</strong>
                {{ equipment.type|get_equipment_type }}
            </p>
        </div>
    </div>
</div>

{% endblock %}
