{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'equipment:list' %}">{% trans "Equipments" %}</a></li>
            {% if equipment %}
                <li class="breadcrumb-item"><a href="{% url 'equipment:detail' pk=equipment.id %}">{{ equipment.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{% trans "Create" %}</li>
            {% endif %}
        </ol>
    </nav>
    
    <div class="row">
        <div class="col">

            <h1>{% trans "Equipment" %}</h1>

            <form method="POST" class="post-form">
                {% csrf_token %}

                <h3>{% trans "Details" %}:</h3>

                <table>
                    {{ form }}
                </table>

                <p>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
