{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'equipment:list' %}">{% trans "equipments" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ equipment.name}}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col">

            <h1>{% trans "Equipment" %}</h1>

            <h3>{% trans "Details" %}:</h3>

            <p>
                <strong>{% trans "Name" %}:</strong>
                <a href="{% url 'equipment:update' pk=equipment.id %}">{{ equipment.name }}</a>
            </p>
            <p>
                <strong>{% trans "Type" %}:</strong>
                {{ equipment.type|get_equipment_type }}
            </p>
            <p>
                <strong>{% trans "Default" %}:</strong>
                {{ equipment.default }}
            </p>
        </div>
    </div>
</div>

{% endblock %}
