{% load static %}
<!DOCTYPE html> 
<html>
<head>
  <title>{% block title %}Cruz Roja Registration{% endblock %}</title>
  <!-- Latest compiled and minified CSS -->
  <meta charset="utf-8" />
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/auth.css' %}"/>
</head>

<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Navbar toggle -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/ambulances">Cruz Roja</a>
      </div>
      <!-- Navbar Menu -->
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/ambulances/">Ambulances</a></li>
            <li><a href="/ambulances/status">Statuses</a></li>
            <li><a href="/ambulances/ambulance_map">Map</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Call Ambulance<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
              </ul>
            </li>
        </ul>
        <li><a href="#">Past Records</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/accounts/logout/?next={{ request.path }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
        </ul>
        {% else %}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="float: right !important;">
          <li class="active"><a href="/auth/signup/"><span class="glyphicon glyphicon-user"></span>&nbsp;Sign Up</a></li>
          <li><a href="/auth/login/"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>  


  <!-- Maria added this --> 
  {% if error %}
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Error</h3>
   </div>
    <div class="panel-body">
    {{ error }}
    </div>
  </div>
  {% endif %}


  <div class="container">
    <div class="row">
    <section class="login-box" style="padding-top: 80px;">
    <div class="box">
      
      <div class="upper-box">
        <h3>Cruz Roja Registration</h3>
        <div class="line">
          <hr class="line-hr">
          <span class="line-span">  </span>
        </div>
      </div>

      <div class="lower-box"> 
        <form class="form-horizontal" method="post" action="/auth/signup/">{% csrf_token %}

        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" pattern="[a-zA-Z]+ [a-zA-Z]+" placeholder="John Smith" class="form-control" name="fullname" id="inputUserName" required>
        </div>

        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" class="form-control" placeholder="john@email.com" name="email" id="inputUserEmail" required>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="tel" placeholder="xxx-xxx-xxxx" pattern="^\d{3}-\d{3}-\d{4}$" class="form-control" name="phone" id="inputUserPhone" required>
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" pattern="^\[a-zA-Z0-9]{4,}" placeholder="****" class="form-control" name="password1" id="inputUserPassword1" required>
        </div>

        <div class="form-group">
          <label for="inputPassword">Re-enter Password</label>
          <input type="password" class="form-control" placeholder="****" name="password2" id="inputUserPassword2" required>
        </div>

        <button type="submit" class="btn btn btn-primary btn-success" value="signup">Signup</button>
        </form>
      </div>

    </div>
    </section>
  </div>
  </div>
</body>
</html>
