{% load i18n l10n static %}
{% load render_bundle from webpack_loader %}

<style type="text/css">
    {% block map_css %}{% get_current_language_bidi as LANGUAGE_BIDI %}
    #{{ id }}_div_map {
        position: absolute;
        vertical-align: top;
        margin: 2px 0px 2px 0px;
        float: {{ LANGUAGE_BIDI|yesno:"right,left" }};
    }
    #{{ id }}_div_coords {
        clear: {{ LANGUAGE_BIDI|yesno:"right,left" }};
    }
    .latlon {
        text-align: right;
        margin: 1px 0px 1px 0px;
    }

    {% if not display_raw %}#{{ id }} { display: none; }{% endif %}

    {% endblock %}
</style>

<div>

    <div id="{{ id }}_map" style="width: 400px; height: 400px; display: block"></div>

    <div id="{{ id }}_div_coords">
        <p class="latlon">
            <label class="{{ id }}_coords_label">{% trans "Latitude" %}:</label>
            <input type="text" id="{{ id }}_lat" name="{{ name }}_lat" disabled>
        </p>
        <p class="latlon">
            <label class="{{ id }}_coords_label">{% trans "Longitude" %}:</label>
            <input type="text" id="{{ id }}_lng" name="{{ name }}_lng" disabled>
        </p>
        <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10"
                  name="{{ name }}">{{ serialized }}</textarea>
    </div>

</div>

<script type="text/javascript">
    {% block map_options %}
        const map_options = {};
    {% endblock %}

    // has point
    var point = {
        {% if point %}
            x: {{ point.x|unlocalize }},
            y: {{ point.y|unlocalize  }},
            {% if point.z %}
                z: {{ point.z|unlocalize  }},
            {% else %}
                z: 0,
            {% endif %}
            srid: {{ point.srid }}
                {% else %}
            x: -117.0037100,
            y: 32.5027000,
            z: 0,
            srid: 4326
        {% endif %}
    };

    {% block options %}
        const options = {
            map_provider: {{ map_provider|safe }},
            geom_name: '{{ geom_type }}',
            id: '{{ id }}',
            id_lat: '{{ id }}_lat',
            id_lng: '{{ id }}_lng',
            map_id: '{{ id }}_map',
            map_options: map_options,
            map_srid: {{ map_srid|unlocalize }},
            name: '{{ name }}',
            lat: point.y,
            lng: point.x,
            point: [point.y, point.x],
        };
    {% endblock %}

</script>

{% if map_provider %}
{% if map_provider.provider == 'google' %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ map_provider.access_token }}" async defer></script>
{% endif %}
{% endif %}

{% render_bundle 'main' 'js' 'POINT_WIDGET' %}
