{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>{% trans "Hospital" %}</h1>

            <h3>
                {% trans "Details" %}:
            </h3>

            <p>
                <strong>{% trans "Name" %}:</strong>
                {% if user.is_staff %}
                <a href="{% url 'hospital:update' pk=hospital.id %}">{{ hospital.name }}</a>
                {% else %}
                {{ hospital.name }}
                {% endif %}
            </p>
            <p>
                <strong>{% trans "Address" %}:</strong>
                {{ hospital.get_address }}
            </p>
            <p>
                <strong>{% trans "Location" %}:</strong>
                {{ hospital.location }}
            </p>
            <p>
                <strong>{% trans "Comment" %}:</strong>
                {{ hospital.comment }}
            </p>
            <p>
                <strong>{% trans "Updated on" %}:</strong>
                {{ hospital.updated_on }}
            </p>
            <p>
                <strong>{% trans "By" %}:</strong>
                {{ hospital.updated_by }}
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>
                {% trans "Equipment sets" %}:
            </h3>

            {% if hospital.equipmentholder.equipmentsets.exists%}

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipmentset in hospital.equipmentholder.equipmentsets.all %}
                    <tr>
                        <td>{{ equipmentset.name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <p>
                    {% trans "This hospital has no equipment sets." %}
                </p>

            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>
                {% trans "Equipment" %}:
            </h3>

            {% if user.is_staff %}
                <p><a href="{% url 'equipment:update-holder' pk=hospital.equipmentholder.id %}">{% trans "edit" %}</a></p>
            {% endif %}

            {% if hospital.equipmentholder.equipmentitem_set.exists%}

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Value" %}</th>
                        <th>{% trans "Comment" %}</th>
                        <th>{% trans "Updated on" %}</th>
                        <th>{% trans "by" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment in hospital.equipmentholder.equipmentitem_set.all %}
                    <tr>
                        <td>{{ equipment.equipment.name }}</td>
                        <td>{{ equipment.value }}</td>
                        <td>{{ equipment.comment }}</td>
                        <td>{{ equipment.updated_by }}</td>
                        <td>{{ equipment.updated_on }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <p>
                    {% trans "This hospital has no registered equipments." %}
                </p>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
