{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">

			<h1>{% trans "Hospitals" %}</h1>

            {% if user.is_staff %}
			<p>
				<a href="{% url 'hospital:create' %}">{% trans "new" context "masculine" %}</a>
			</p>
            {% endif %}

            {% if hospital_list %}

			<table class="table table-striped table-sm">
				<thead>
				<tr>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Address" %}</th>
					<th>{% trans "Comments" %}</th>
					<th>{% trans "Updated on" %}</th>
					<th>{% trans "by" %}</th>
				</tr>
				</thead>
				<tbody>
				{% for hospital in hospital_list %}
				<tr>
					<td>
						<a href="{% url 'hospital:detail' pk=hospital.id %}">{{ hospital.name }}</a>
					</td>
					<td>
						{{ hospital.get_address }}
					</td>
					<td>{{ hospital.comment }}</td>
					<td>{{ hospital.updated_on }}</td>
					<td>{{ hospital.updated_by.username }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>

            {% else %}

            <p>{% trans "No hospitals." %}</p>

            {% endif %}

		</div>
	</div>
</div>

{% endblock %}
