{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Hospital</h1>

            <h3>
                Details:
            </h3>

            <p>
                <strong>Name:</strong>
                {% if user.is_staff %}
                <a href="{% url 'hospital:update' pk=hospital.id %}">{{ hospital.name }}</a>
                {% else %}
                {{ hospital.name }}
                {% endif %}
            </p>
            <p>
                <strong>Address:</strong>
                {{ hospital.number }} {{ hospital.street }} {{ hospital.unit }},
                {{ hospital.city }}, {{ hospital.state }} {{ hospital.zipcode }},
                {{ hospital.country }}
            </p>
            <p>
                <strong>Location:</strong>
                {{ hospital.location }}
            </p>
            <p>
                <strong>Comment:</strong>
                {{ hospital.comment }}
            </p>
            <p>
                <strong>Updated on:</strong>
                {{ hospital.updated_on }}
            </p>
            <p>
                <strong>By:</strong>
                {{ hospital.updated_by }}
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>
                Equipment sets:
            </h3>

            {% if hospital.equipmentholder.equipmentsets.all|length %}

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipmentset in hospital.equipmentholder.equipmentsets %}
                    <tr>
                        <td>{{ equipmentset.name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <p>
                    This hospital has no equipment sets.
                </p>

            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>
                Equipment:
            </h3>

            {% if hospital.equipmentholder.equipmentitem_set.all|length %}

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Comment</th>
                        <th>Updated on</th>
                        <th>by</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment in hospital.equipmentholder.equipmentitem_set.all %}
                    <tr>
                        <td>{{ equipment.equipment.name }}</td>
                        <td>{{ equipment.value }}</td>
                        <td>{{ equipment.comment }}</td>
                        <td>{{ equipment.updated_by }}</td>
                        <td>{{ equipment.updated_on }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <p>
                    This hospital has no registered equipments.
                </p>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
