.marker-stacked-icon {
    margin-left: -0.75em;
    margin-top: -1em;
}

.marker-stacked-icon-bottom {
}

.marker-stacked-icon-top {
    margin-top: 0.2em;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .35;
  border-radius: .2rem;
}