.marker-stacked-icon {
    margin-left: -0.75em;
    margin-top: -1em;
}

.marker-stacked-icon-bottom {
}

.marker-stacked-icon-top {
    margin-top: 0.2em;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .3rem;
  font-size: .5rem;
  line-height: .5;
  border-radius: .1rem;
}

.popover-large {
    width: 400px;
    max-width: none;
}

.popover-large-dialog {
    width: 350px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next {
    width: 5%
}

.carousel-control-prev {
    width: 5%
}

.carousel .carousel-indicators li {
  background-color: #777;
}

.carousel .carousel-indicators .active {
  background-color: #111;
}

.carousel-indicators {
    bottom: 0px;
}

.errorlist {
    background-color: indianred;
    color: white;
}
