button:focus {
	outline: none;
}


/* .tab-selector {
	height: 3.8rem;
	display: flex;
	justify-content: flex-start;
	background-color: #e9ecef;
}*/

/* .tab-content {} */

.sidebar {
    width: 400px;
    max-width: 25%; 
	height: 100%; 
	position: fixed; 
	left: -750px;
	z-index: 1200; 
	background: white;
	transition: all .3s; 
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
}

.sidebar.active { left: 0; }


.lhs-tab-button {
	background-color: #e9ecef;
	border: 0px transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 3;
	cursor: pointer;
	transition: all .3s;
	text-align: center;

	/* hacky way of getting rid of gaps between buttons */
	margin: 0;
}


.lhs-tab-button:hover {
	background-color:rgba(64, 139, 249, 0.08);
	color: #408bf9;
}


.btn-selected {
	border-style: solid transparent transparent transparent;
	border-width: 4px 0 0 0;
	border-color: #408bf9;
	color: #408bf9;
	background-color: white;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 5;
	text-align: center;
	margin: 0;
}


.dismiss {
	margin-left: auto;
}

.dismiss:hover {
	color: #408bf9;
	background-color:rgba(64, 139, 249, 0.08);
	border-radius: 30px 0 0 30px;
}

#ambulance-tab-button, #settings-tab-button, #calls-tab-button {
	flex: 1;
}

.tab-btn-icon {
	font-size: 25px;
}


.open-menu { 
	background: white;
	position: fixed; 
	top: calc(50% - 24px); 
	/* left: 10px; */
	z-index: 997; 
	font-size: 1.3rem;
	border-radius: 0 30px 30px 0;
	box-shadow: 3px 0 5px rgb(51 51 51 / 20%);
	padding: .35rem .70rem;
	cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.open-menu:hover {
	background-color:rgba(64, 139, 249, 0.08);
}

/* Select all child elements when hovering over .open-menu */
.open-menu:hover * {
	color: #408bf9;
}

.left-side-bar-filter-icon {
	color: grey;
	margin-right: 15px;
}

.left-side-bar-filter-icon:hover {
	color: #408bf9;
}



.ambulance-tab-content, .settings-tab-content, .calls-tab-content {
    padding: 10px;
}
