button:focus {
	outline: none;
}


/* .tab-selector {
	height: 3.8rem;
	display: flex;
	justify-content: flex-start;
	background-color: #e9ecef;
}*/

/* .tab-content {} */

.left-side-bar {
    width: 400px;
    max-width: 25%; 
	height: 100%; 
	position: fixed; 
	left: -750px;
	z-index: 1200; 
	background: white;
	transition: all .3s; 
	box-shadow: 3px 0 3px rgba(51, 51, 51, 0.5);
}

.left-side-bar.active { left: 0; }


.tab-button {
	background-color: #e9ecef;
	border-width: 0 !important;
	border-radius: 0px !important;
	border-color: #e9ecef !important;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 3;
	cursor: pointer;
	transition: all .3s;
	text-align: center;

	/* hacky way of getting rid of gaps between buttons */
	margin: 0;
}


.tab-button:hover {
	background-color:rgba(64, 139, 249, 0.08);
	color: #408bf9 !important;
}

/* When tab is selected */
.tab-button.active {
	border-style: solid hidden hidden hidden;
    border-width: 4px 0 0 0 !important;
	border-radius: 0 !important;
	border-color: #408bf9 !important;
    color: #408bf9 !important;
    background-color: white !important;
}

/*
.btn-selected {
	border-style: solid transparent transparent transparent;
	border-width: 4px 0 0 0;
	border-color: #408bf9;
	color: #408bf9 !important;
	background-color: white;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 5;
	text-align: center;
	margin: 0;
}*/

.left-dimiss {
	margin-left: auto;
}

.left-dimiss:hover {
	color: #408bf9;
	background-color:rgba(64, 139, 249, 0.08);
	border-radius: 30px 0 0 30px;
}

#ambulance-tab-button, #settings-tab-button, 
#dispatch-tab-button, #calls-tab-button{
	flex: 1;
	color: #ced4da;
}

.tab-btn-icon {
	font-size: 25px;
}


.open-menu { 
	background: white;
	position: fixed; 
	top: calc(50% - 24px); 
	/* left: 10px; */
	z-index: 997; 
	font-size: 1.3rem;
	/* border-radius: 0 30px 30px 0; */
	box-shadow: 3px 0 5px rgb(51 51 51 / 20%);
	padding: .35rem .70rem;
	cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.open-menu:hover {
	background-color:rgba(64, 139, 249, 0.08);
}

/* Select all child elements when hovering over .open-menu */
.open-menu:hover * {
	color: #408bf9;
}

#left-side-bar-btn {
	left: 0;
	border-radius: 0 30px 30px 0;
}

#left-side-bar-filter-icon {
	color: #CED4DA;
	margin-right: 15px;
}


.tab-content {
	padding: 10px;
}

/*
.ambulance-tab-content, .settings-tab-content, .calls-tab-content, .dispatch-tab-content {
    padding: 10px;
}*/


/*----------------------------------------------------------*/
/* Right side Bar */
.right-side-bar {
    width: 400px;
    max-width: 25%; 
	height: 100%; 
	position: fixed; 
	right: -750px;
	z-index: 1200; 
	background: white;
	transition: all .3s; 
	box-shadow: -3px 0 3px rgba(51, 51, 51, 0.5);
}

.right-side-bar.active { right: 0; }

#right-side-bar-btn {
	right: 0;
	border-radius: 30px 0 0 30px;
}

#right-side-bar-phone-icon, #right-side-bar-phone-icon-active {
	vertical-align: -.125em;
	margin-left: 15px;
}

/* Hide the active phone icon by default & Hide the grey one when hovering */
.open-menu:hover #right-side-bar-phone-icon,
#right-side-bar-phone-icon-active {
	display: none;
}

/* When hovering show the active phone icon */
.open-menu:hover #right-side-bar-phone-icon-active {
	display: inline;
}


.right-dimiss {
	margin-right: auto;
}

.right-dimiss:hover {
	color: #408bf9;
	background-color:rgba(64, 139, 249, 0.08);
	border-radius: 0 30px 30px 0;
}

#right-side-bar-dispatch-icon, #right-side-bar-dispatch-icon-active {
	vertical-align: -.125em;
}
