.vid-modal-content-box {
   max-width:1100px;
}

.video_box {
   width:100%;

   margin: 0 auto;
   background-color: black;
   display:flex;

   position: relative;
}

.select_button{
   border:none;
   float:left;
   background-color: #f2f2f2;
   color: black;
}

.select_button:hover {
   background-color:#d4d4d4;
   color:black;
}

.select_button:active {
   background-color:#16405F;
   color:black;
}

.call_button {
   width:50px;
   height:50px;
   margin-right:20px;
}

.call_img{
   width:20px;
   height:20px;

}
.phone_buttons{
   float:right;

}

.localVideo {
   width:25%;
   position: absolute;
   top: 10px;
   right: 10px;
   border-radius: 10px;
   transform: rotateY(180deg);
}

.remoteVideo {
   float:left;
   width:100%;
   vertical-align: top;
}

#remoteVideo {
   width:100%;
}

.videoControl {
   display: flex;
}

.videoControlButton {
   color: #777777;
   border-style: none;
   background-color: transparent;
   padding-left: 10px;
   padding-right: 10px;
}

.dropdown_vid_text {
   color:white;
}

.main_box_buttons{
   width:100%;
   margin: 0 auto;
   padding:30px 10px 70px 10px;
   background-color:black;
}

.fa-my-rotate-45 {
  transform: rotate(45deg);
}

.fa-my-rotate-135 {
  transform: rotate(135deg);
}

.fa-my-rotate-225 {
  transform: rotate(225deg);
}

.fa-my-rotate-315 {
  transform: rotate(315deg);
}