#map {
	width: 100%; 
	height: 100%; 
	position: absolute;
	z-index: 0;
}

.overlay {
	position: absolute;
	top: 5px;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: white;
	opacity: 0.9; 
	box-shadow: 2px 1px 1px gray; 
	z-index: 1;
}

.overlay ul {
	margin: 0;
	padding: 0;
}

.ambulancelist {
	max-height: 500px;
	overflow: scroll;
}

.ambulancelist ul li {
	padding: 0;
	margin: 0;
	width: 299px;
	height: 50px;
	background-color: #ADD8E6;
	border-style: solid;
	border-width: 0.5px;
	font-family: "Verdana";
}

.ambulancelist li:hover {
	background-color: #EEE8AA;
}

#title h1, h2{
	color: black;
	text-align: center;
	font-family: "Verdana";
}

#title {
	top: 10px;
	height: 150px;
}

.footer {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

.menubar {
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	fill: black;
	z-index: 1;
}



