{% extends "login/base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- TODO: This should really be a pull down menu from admin. -->

        <h1>Administration</h1>
        <p>
            In this page you can perform various administrative tasks.

            This could be a pull down menu from admin.
        </p>

        <ul>
            <li><a href="{% url 'login:group' %}">Groups</a></li>
            <li><a href="{% url 'login:user' %}">Users</a></li>
            <li><a href="{% url 'hospital:equipment' %}">Hospital Equipment</a></li>
            <li><a href="{% url 'ambulance:locations' %}">Locations</a></li>
        </ul>

    </div>
</div>

{% endblock %}
