{% extends "login/base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- TODO: This should really be a pull down menu from admin. -->

        <h1>Administration</h1>
        <p>
            In this page you can perform various administrative tasks.

            This should really be a pull down menu from admin.
        </p>

        <h2>Manage Groups</h2>

        <h2>Manage Users</h2>

        <h2>Manage Hospital Equipment</h2>

        <h2>Manage Locations</h2>

    </div>
</div>

{% endblock %}
