{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Clients</h1>

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Client Id</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Ambulance</th>
                    <th>Hospital</th>
                    <th>Updated On</th>
                </tr>
                </thead>
                <tbody>
                {% for client in client_list %}
                <tr>
                    <td>
                        <a href="{% url 'login:client_detail' pk=client.id %}">{{ client.client_id }}</a>
                    </td>
                    <td>
                        {{ client.user.username }}
                    </td>
                    <td>
                        {{ client.status|get_client_status }}
                    </td>
                    <td>
                        {{ client.ambulance.identifier }}
                    </td>
                    <td>
                        {{ client.hospital }}
                    </td>
                    <td>
                        {{ client.updated_on }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
