{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Group</h1>

<div class="container">
    <form method="POST" class="post-form">
        {% csrf_token %}

        <h3>Details:</h3>

        <table>
            {{ form }}
        </table>

        <h3>Permissions:</h3>

        {% for form in ambulance_formset %}
        <table>
            {{ form }}
        </table>
        {% endfor %}

        {% for form in hospital_formset %}
        <table>
            {{ form }}
        </table>
        {% endfor %}

        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</div>

{% endblock %}
