{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'login:list-group' %}">{% trans "Groups" %}</a></li>
            {% if group %}
                <li class="breadcrumb-item"><a href="{% url 'login:detail-group' pk=group.id %}">{{ group.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{% trans "Create" %}</li>
            {% endif %}
        </ol>
    </nav>

    <div class="row">
        <div class="col">

            <h1>{% trans "Group" %}</h1>

            <form method="POST" class="post-form">
                {% csrf_token %}

                <h3>{% trans "Details" %}:</h3>

                <table>
                    {{ form }}
                </table>

                <p>
                    {% trans "Edit the group after creation to provide more details." %}
                </p>

                <p>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
