{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Group</h1>

<div class="container">
    <form method="POST" class="post-form">
        {% csrf_token %}

        <table>
            {{ form }}
        </table>

        <h2>Permissions:</h2>

        <h3>Ambulances</h3>
        {% for form in ambulance_formset %}
        <table>
            {{ form }}
        </table>
        {% endfor %}

        <h3>Hospitals</h3>
        {% for form in hospital_formset %}
        <table>
            {{ form }}
        </table>
        {% endfor %}

        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</div>

{% endblock %}
