{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'login:list-group' %}">{% trans "Groups" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ group.name }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col">

            <h1>{% trans "Group" %}</h1>

            <h3>{% trans "Details" %}:</h3>

            <p>
                <strong>{% trans "Name" %}:</strong>
                <a href="{% url 'login:update-group' pk=group.id %}">{{ group.name }}</a>
            </p>

            <p>
                <strong>{% trans "Description" %}:</strong>
                {{ group.groupprofile.description }}
            </p>

            <p>
                <strong>{% trans "Priority" %}:</strong>
                {{ group.groupprofile.priority }}
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>{% trans "Users" %}:</h3>

            {% if user_list %}

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "First" %}</th>
                    <th>{% trans "Last" %}</th>
                    <th>{% trans "Email" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                <tr>
                    <td>
                        <a href="{% url 'login:detail-user' pk=user.id %}">{{ user.username }}</a>
                    </td>
                    <td>
                        {{ user.first_name }}
                    </td>
                    <td>
                        {{ user.last_name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}

            <p>{% trans "This group has no users yet." %}</p>

            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>{% trans "Permissions" %}:</h3>

            <h4>{% trans "Ambulances" %}:</h4>
            
            <p class="float-right">
                <a href="{% url 'login:export-group-ambulance-permissions' %}">{% trans "export" %}</a>
                <a href="{% url 'login:import-group-ambulance-permissions' %}" class="ml-2">{% trans "import" %}</a>
            </p>

            {% if ambulance_list %}

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>{% trans "Ambulance" %}</th>
                    <th>{% trans "Read" %}</th>
                    <th>{% trans "Write" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in ambulance_list %}
                <tr>
                    <td> {{ permission.ambulance.identifier }} </td>
                    <td> {{ permission.can_read }} </td>
                    <td> {{ permission.can_write }} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


            {% else %}

            <p>{% trans "This group does not have access to any ambulances." %}</p>

            {% endif %}

            <h4>{% trans "Hospitals" %}:</h4>

            <p class="float-right">
                <a href="{% url 'login:export-group-hospital-permissions' %}">{% trans "export" %}</a>
                <a href="{% url 'login:import-group-hospital-permissions' %}" class="ml-2">{% trans "import" %}</a>
            </p>

            {% if hospital_list %}

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>{% trans "Hospital" %}</th>
                    <th>{% trans "Read" %}</th>
                    <th>{% trans "Write" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in hospital_list %}
                <tr>
                    <td> {{ permission.hospital.name }} </td>
                    <td> {{ permission.can_read }} </td>
                    <td> {{ permission.can_write }} </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% else %}

            <p>{% trans "This group does not have access to any hospitals." %}</p>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
