{% extends "base.html" %}
{% block content %}

{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}

{% if form.non_field_errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ form.non_field_errors }}
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>
        Your account doesn't have access to this page.
        To proceed, please login with an account that has access.
    </p>
</div>
{% endif %}
{% endif %}

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EMSTrack Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Error messages -->
                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>
                        Your account doesn't have access to this page.
                        To proceed, please login with an account that has access.
                    </p>
                </div>
                {% endif %}
                {% endif %}

                <form class="form-signin"
                      method="post"
                      action="{% url 'login:login' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_username">
                            Username:
                        </label>
                        <input type="text" name="username" autofocus placeholder="Username"
                               class="form-control input-lg"
                               maxlength="150" required id="id_username"/>
                    </div>
                    <div class="form-group">
                        <label for="id_password">
                            Password:
                        </label>
                        <input type="password" name="password" placeholder="Password"
                               class="form-control input-lg"
                               required id="id_password">
                    </div>

                    <a href="{% url 'login:password_reset' %}">Forgot Password?</a>

                    <input type="hidden" name="next" value="{{ next }}"/>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#loginModal').modal({
        keyboard: false
    })
</script>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>EMSTrack Login</h1>

            <form class="form-signin"
                  method="post"
                  action="{% url 'login:login' %}">
                {% csrf_token %}

                <!--
                <div class="row form-group">
                    {{ form }}
                </div>
                -->

                <div class="row form-group">
                    <table>
                        <tr>
                            <th>
                                <label for="id_username">
                                    Username:
                                </label>
                            </th>
                            <td>
                                <input type="text" name="username" autofocus placeholder="Username"
                                       class="form-control input-lg"
                                       maxlength="150" required id="id_username" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="id_password">
                                    Password:
                                </label>
                            </th>
                            <td>
                                <input type="password" name="password" placeholder="Password"
                                       class="form-control input-lg"
                                       required id="id_password" />
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row form-group">
                    <button type="submit"
                            class="btn btn btn-primary btn-success btn-block"
                            value="login">Login</button>
                </div>

                <div class="row text-right">
                    <a href="{% url 'login:password_reset' %}">Forgot Password?</a>
                </div>

                <input type="hidden" name="next" value="{{ next }}" />

            </form>

        </div>
    </div>
</div>

{% endblock %}