{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>{% trans "Users" %}</h1>

            <p>
                <a href="{% url 'login:create-user' %}">{% trans "new" context "masculine" %}</a>
                <a href="{% url 'login:export-user' %}" class="ml-2">{% trans "export" %}</a>
                <a href="{% url 'login:import-user' %}" class="ml-2">{% trans "import" %}</a>
            </p>

            {% if page_list %}

                {% if page_list.has_other_pages %}
                <div class="row">
                    <div class="col">
                        {% include "pagination/numbers.html" %}
                    </div>
                    <div class="col float-right">
                        {% include "pagination/sizes.html" %}
                    </div>
                </div>
                {% endif %}

                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>{% trans "Username" %}</th>
                            <th>{% trans "First" %}</th>
                            <th>{% trans "Last" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Staff" %}</th>
                            <th>{% trans "Dispatcher" %}</th>
                            <th>{% trans "Active" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in page_list %}
                        <tr>
                            <td>
                                <a href="{% url 'login:detail-user' pk=user.id %}">{{ user.username }}</a>
                            </td>
                            <td>
                                {{ user.first_name }}
                            </td>
                            <td>
                                {{ user.last_name }}
                            </td>
                            <td>
                                {{ user.email}}
                            </td>
                            <td>
                                {{ user.is_staff|get_check }}
                            </td>
                            <td>
                                {{ user.userprofile.is_dispatcher|get_check }}
                            </td>
                            <td>
                                {{ user.is_active|get_check_or_times }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if page_list.has_other_pages %}
                <div class="row">
                    <div class="col">
                        {% include "pagination/numbers.html" %}
                    </div>
                    <div class="col float-right">
                        {% include "pagination/sizes.html" %}
                    </div>
                </div>
                {% endif %}

            {% else %}

                <p>{% trans "No users." %}</p>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
