{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col">

            <h1>{% trans "Video" %}</h1>

            <video id="localVideo" autoplay></video>
            <video id="remoteVideo" autoplay></video>

            <div class = "row text-center">
                <div class = "col-md-12">
                    <input id = "callToUsernameInput" type = "text"
                           placeholder = "username to call" />
                    <button id = "callBtn" class = "btn-success btn">Call</button>
                    <button id = "hangUpBtn" class = "btn-danger btn">Hang Up</button>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

{% render_bundle 'main' 'js' 'VIDEO' %}

{% endblock %}
