{% load static %}
{% load i18n %}

<div id="videoAlert">
</div>

<div class="video_box">
    <div class="remoteVideo">
        <video id="remoteVideo" autoplay playsinline controls></video>
        <div id="remoteVideoControls" class="d-flex">
            <button id="remoteVideoPlayPause" class="videoControlButton mr-auto px-2" title="play">
                <i class="fa fa-play"></i>
            </button>
            <button id="remoteVideoMute" class="videoControlButton px-2" title="mute">
                <i class="fa fa-volume-mute"></i>
            </button>
            <button id="remoteVideoFullScreen" class="videoControlButton px-2" title="toggle full screen">
                <i class="fa fa-expand-arrows-alt"></i>
            </button>
        </div>
    </div>
    <video id="localVideo" class="localVideo" autoplay playsinline controls></video>
</div>

<div class="d-flex bg-dark">
    <div class="mr-auto p-2">
        <button type="button" class="btn btn-light dropdown-toggle select_button" data-toggle="dropdown">
            {% trans "Select user..." %}
        </button>
        <div id="clients-dropdown" class="dropdown-menu" >
        </div>
    </div>

    <div class="p-2">
        <button id="linkButton" class="btn-info btn rounded-circle call_button">
            <span class="fas fa-user"></span>
        </button>
    </div>
    <div class="p-2">
        <button id="callButton" class="btn-success btn rounded-circle call_button">
            <span class="fas fa-phone"></span>
        </button>
    </div>
</div>

<div class="d-flex bg-dark">
    <div id="remoteClientText" class="mr-auto p-2 text-light" >
        <span class="text-light">{% trans "No user currently selected" %}</span>
    </div>
</div>
