{% extends "ambulances/ambulances_base.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="ambulancelist">
 <ul>
 	{% if ambulances_list %}
 		{% for ambulance in ambulances_list %}

 			<li id="{{ ambulance.license_plate }}" onclick="widget.panToAmbulance({{ ambulance.location.y }}, {{ambulance.location.x }})">License Plate: {{ ambulance.license_plate }} <br>
 							Status: {{ ambulance.status }} </li>

 		{% endfor %}
 	{% else %}
 		<p>There are currently no ambulances being tracked</p>
 	{% endif %}
 </ul>
</div>
{% endblock %}

	{% block jscontent %}
		// initial placement of markers
		{% if ambulances_list %}
			console.log("There are " + {{ ambulances_list|length }} + " records:");
			{% for ambulance in ambulances_list %}
    widget.addMarker({{ ambulance.location.y }}, {{ ambulance.location.x }}, {{ ambulance.license_plate }}, 0);
   {% endfor %}
		{% else %}
		console.log("The database is empty");
		{% endif %}

// asynchronous call pulls from database every 5000 milliseconds
function ajaxCall() {
	$.ajax({
		datatype: "json",
		url: 'ambulance_view',
		success: function(data) {
			intervalUpdate(data);
		},
		complete: function() {
				setTimeout(ajaxCall, 5000);
		}
	});
}

ajaxCall();

// update markers with new data from database
function intervalUpdate(data) {
	{% for ambulance in ambulances_list %}

	for (i=0; i < data.length; i++) {
		//console.log(data[i].license_plate, data[i].status, data[i].location.y);
		if (data[i].license_plate == {{ ambulance.license_plate }}) {
			widget.updateMarker(data[i].location.y, data[i].location.x, data[i].status);
			// Still not able to center on ambulance after it has changed location //
			/*
			console.log(data[i].location.y, data[i].location.x);
			var lat = data[i].location.y;
			var lng = data[i].location.x;
			$("#"+data[i].license_plate).click(function() {
				widget.panToAmbulance(lat, lng);
		});
		*/
		}
	}
	{% endfor %}
}



{% endblock %}
