{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <title>{% block title %}Cruz Roja de Tijuana - AED Locator{% endblock %}</title>
  <meta charset="utf-8" />
  <script type = "text/javascript" 
          src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" 
	href="{% static 'craed/style.css' %}" />
  {% block head %}{% endblock %}
</head>
<body>
  <h1>Cruz Roja de Tijuana</h1>
  <h2>Automated External Defibrillator and Ambulance Locator</h2>
  <ul class="menubar">
    {% if user.is_authenticated %}
    <li class="menuitem" style="float:right">
      <a href="/accounts/logout/?next={{ request.path }}">Logout</a>
    </li>
    {% else %}
    <li class="menuitem" style="float:right">
      <a href="/accounts/login/?next={{ request.path }}">Login</a>
    </li>
    {% endif %}
  </ul>
  <script>
    // make current page active
    var pname = $(location).attr('pathname').split('/',3).join('/');
    $('.menuitem a[href^="' + pname + '"]').addClass('menuitem active');
  </script>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  {% block footer %}
  {% endblock %}
  <footer>
    <nav class="footer">
      <a href="http://www.cruzrojatijuana.org.mx">Cruz Roja de Tijuana</a>
    </nav>
  </footer>
</body>
</html>
