{% extends "ambulances/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'ambulances/css/form.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ form.media }}
{% endblock %}

{% block content %}

    <h1>Dispatch List</h1>

<style>
th {
    text-align: left;
    }
</style>

<br/>
{% if ambulance_call %}
<div class="container">
    <div class="row">
        <div class="span6">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Ambulance</th>
                    <th>Priority Name</th>
                    <th>Call Time</th>
                    <th>Street</th>
                    <th>Address</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                    {% for call in ambulance_call %}
                    <tr>
                        <td>{{ call.ambulance }}</td>
                        <td>{{ call.priority }}</td>
                        <td>{{ call.call_time }}</td>
                        <td>{{ call.stmain_number }}</td>
                        <td>{{ call.residential_unit }}</td>
                        <td>{{ call.description }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
    <p>No dispatched ambulance.</p>
{% endif %}

    <br/>
    <div id="calls"></div>
<!--
    {% if ambulance_call %}
    <div class="container">
        <ul class="call-list">
        {% for call in ambulance_call %}
            <li class="call">
                <strong>Ambulance:</strong> {{ call.ambulance }} <br/>
                <strong>Priority:</strong> {{ call.priority }} <br/>
                <strong>Call Time:</strong> {{ call.call_time }} <br/>
                <strong>Street:</strong> {{ call.stmain_number }} <br/>
                <strong>Address:</strong> {{ call.residential_unit }} <br/>
                <strong>Description:</strong> {{ call.description }} <br/>
            </li>
            <br/>
        {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>No dispatched ambulance.</p>
    {% endif %}
    -->

    <script type="text/javascript">
        // $.getJSON('api/calls', function(data) {
        //     $.each(data, function(index) {
        //         $('#calls').append(data[index].zipcode + '<br/>' + data[index].city);
        //     })

        // })
    </script>
{% endblock %}
