{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Ambulances</h1>

<div class="row">
    <div class="col">
        <p>
            <a href="{% url 'ambulance:create' %}">new</a>
        </p>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Capability</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Updated on</th>
                <th>by</th>
            </tr>
            </thead>
            <tbody>
            {% for ambulance in ambulance_list %}
            <tr>
                <td>
                    <a href="{% url 'ambulance:detail' pk=ambulance.id %}">{{ ambulance.identifier }}</a>
                </td>
                <td>
                    {{ ambulance.capability|get_ambulance_capability }}
                </td>
                <td>
                    {{ ambulance.status|get_ambulance_status }}
                </td>
                <td>
                    {{ ambulance.comment }}
                </td>
                <td>
                    {{ ambulance.updated_on }}
                </td>
                <td>
                    {{ ambulance.updated_by.username }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    {% endblock %}
