{% extends "ambulances/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/form.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    {{ form.media }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form id="status_form" action="" method="post">{% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div id="buttons">
                {% if object %}
                    <input class="button save" type="submit" value="Save"/>
                    <a class="button cancel" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
                {% else %}
                    <input class="button save" type="submit" value="Create Status"/>
                {% endif %}
            </div>
        </form>
    {% endif %}



    <br/><br/>

    <h1>Status List</h1>

<style>
th {
    text-align: left;
    }
</style>

    <br/>
<div class="container">
    <div class="row">
        <div class="span6">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Status</th>
                     <th>Color</th>
                </tr>
                </thead>
                <tbody>
                    {% for status in statuses %}
                    {% if status.name != "" %}
                    <tr>
                     <td> {{ status.name }}  {% if user.is_authenticated %}
                        <a href="{% url 'status_update' pk=status.id %}">Edit</a>
                    {% endif %} </td>
                        <td></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--
    <ul>
        {% for status in statuses %}
            {% if status.name != "" %}
                <li>
                    {{ status.name }}
                    {% if user.is_authenticated %}
                        <a href="{% url 'status_update' pk=status.id %}">Edit</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
-->
