{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Ambulance</h1>

<div class="container">
  <p>
    <strong>Identifier:</strong>
    <a href="{% url 'ambulance:update' pk=ambulance.id %}">{{ ambulance.identifier }}</a>
  </p>
  <p>
    <strong>Capability:</strong>
    {{ ambulance.capability }} 
  </p>
  <p>
    <strong>Status:</strong>
    {{ ambulance.status }} 
  </p>
  <p>
    <strong>Location:</strong>
    {{ ambulance.location }}
  </p>
  <p>
    <strong>Comment:</strong>
    {{ ambulance.comment }}
  </p>
  <p>
    <strong>Updated on:</strong>
    {{ ambulance.updated_on }}
  </p>
  <p>
    <strong>By:</strong>
    {{ ambulance.updated_by }}
  </p>
</div>

{% endblock %}
