{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
{{ form.media }}
{% endblock %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'ambulance:list' %}">{% trans "Ambulances" %}</a></li>
            {% if ambulance %}
                <li class="breadcrumb-item"><a href="{% url 'ambulance:detail' pk=ambulance.id %}">{{ ambulance.identifier }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% trans "Update" %}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">{% trans "Create" %}</li>
            {% endif %}
        </ol>
    </nav>

    <div class="row">
        <div class="col">
            <h1>{% trans "Ambulance" %}</h1>

            <form method="POST" class="post-form">
                {% csrf_token %}
                <table>
                    {{ form }}
                    {{ equipmentholder_form }}
               </table>
                <p>
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}
