{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Call</h1>

            <h3>Details:</h3>

            <p>
                <strong>Status:</strong>
                {{ call.status|get_call_status }}
            </p>
            <p>
                <strong>Details:</strong>
                {{ call.details }}
            </p>
            <p>
                <strong>Priority:</strong>
                {{ call.priority }}
            </p>
            <p>
                <strong>Created at:</strong>
                {{ call.created_at }}
            </p>
            <p>
                <strong>Pending at:</strong>
                {{ call.pending_at }}
            </p>
            <p>
                <strong>Started at:</strong>
                {{ call.started_at }}
            </p>
            <p>
                <strong>Ended at:</strong>
                {{ call.ended_at }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>Patients:</h3>

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in call.patient_set.all %}
                <tr>
                    <td>
                        {{ patient.name }}
                    </td>
                    <td>
                        {{ patient.age }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>Ambulances:</h3>

            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Ambulance ID</th>
                    <th>status</th>
                </tr>
                </thead>
                <tbody>
                {% for ambulancecall in call.ambulancecall_set.all %}
                <tr>
                    <td>
                        {{ ambulancecall.ambulance.identifier }}
                    </td>
                    <td>
                        {{ ambulancecall.status }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

