{% extends "leaflet/base.html" %}

{% load static %}

{% block leaflethead %}
    <script>
        // var ambulance_status = {{ ambulance_status|safe }};
        // var ambulance_id = {{ ambulance.id|safe }};
        // var APIBaseUrl = '{% url 'index' %}api/';
        // var page_size = {{ page_size }};
    </script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Call</h1>

            <h3>Details:</h3>

            <p>
                <strong>Status:</strong>
                {{ call.status|get_call_status }}
            </p>
            <p>
                <strong>Details:</strong>
                {{ call.details }}
            </p>
            <p>
                <strong>Priority:</strong>
                {{ call.priority }}
            </p>
            <p>
                <strong>Created at:</strong>
                {{ call.created_at }}
            </p>
            <p>
                <strong>Pending at:</strong>
                {{ call.pending_at }}
            </p>
            <p>
                <strong>Started at:</strong>
                {{ call.started_at }}
            </p>
            <p>
                <strong>Ended at:</strong>
                {{ call.ended_at }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <h3>
                Call Progress:
            </h3>

            <div id="map" class="my-2" style="height: 600px"></div>

        </div>
    </div>

</div>

<script src="{% static 'leaflet/js/LeafletWidget.js' %}"></script>
<script src="{% static 'js/call_detail.js' %}"></script>

{% endblock %}