{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css"/>
    <script src="{% static 'js/form-button.js' %}"></script>

    <script>
      var ambulance_status = {{ ambulance_status|safe }};
      var ambulance_capability = {{ ambulance_capability|safe }};
      var username = {{ user.get_username|safe }};
    </script>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">

    <div class="col-md-9">
      <div id="live-map" style="width: 800px; height: 700px"></div>
    </div><!--end col-md-9-->

    <div class="col-md-3">
      <!-- Start of Ambulance Grid -->
      <!--<div class="row text-center" style="border: 1px solid #CECECE; border-radius: 5px;" >-->
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <b><a data-toggle="collapse" href="#collapse1">Ambulances</a></b>
            </h4>       
          </div>
          <div id="collapse1" class="collapse in panel-body">
            <div id="ambulance-grid"></div>
          </div>
          <!--</div>-->
        </div>
      </div>

      <!-- End of Ambulance Grid Row -->

      <!--        Ambulance info panel      -->
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <b><a data-toggle="collapse" href="#collapse2">Ambulance Info</a></b>
            </h4>
          </div>
          <div id="collapse2" class="collapse in">
            <div class="panel-body"
		 id="ambulance-detail">
	      <p>
		<strong>Ambulance:</strong>
		<span id="ambulance-detail-name"/>
	      </p>
	      <p>
		<strong>Capability:</strong>
		<span id="ambulance-detail-capability"/>
	      </p>
	      <p>
		<strong>Updated on:</strong>
		<span id="ambulance-detail-updated-on"/>
	      </p>
            </div>
            <input type="hidden"
		   name="change-status-ambulance-id"
		   id="ambulance-detail-id">
            <div id="ambulance-detail-status"
		 style="text-align: left; padding: 10px;">
              <select id="ambulance-detail-status-select"
		      style="margin: auto;">
		{% for k, v in ambulance_status.items %}
		<option value="{{ k }}">{{ v }}</option>
		{% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div><!--        end of Ambulance info panel      -->

      <!--        Dispatch panel      -->
      <div class="row">

        <div id="dispatch_work">
          <button class="btn btn-primary" style="display: block; width: 100%;" onclick="dispatching()">Dispatch</button>
        </div>

        <form id="dispatchForm" method="POST" action="" class="collapse">
          {% csrf_token %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <b>Dispatch Ambulance(s)</b>
              </h4>
            </div>
            <!-- Dispatch Panel window -->
            <div class="panel-body">

              <span class="glyphicon glyphicon-chevron-right"></span> Location:
              <input id="street" type="text" name="street" class="form-control" placeholder="Address" required/>
              <!--<input id="address" type="text" name="address" class="form-control" placeholder="Address"/>-->
              <br/>

              <span class="glyphicon glyphicon-chevron-right"></span> Coordinates:
              <div class="well well-sm">
                <strong>Latitude:</strong> <div id="curr-lat" style="display: inline-block;"></div><br/>
                <strong>Longitude:</strong> <div id="curr-lng" style="display: inline-block;"></div>
              </div>

              <span class="glyphicon glyphicon-chevron-right"></span> Dispatch Ambulance(s)<br/>

              <div class="panel panel-default" >
                <div class="panel-body" style="line-height: 1.5px;">

                  <div id="ambulance-selection"></div>
                  <!-- Fancy button here, but not works for map.js
                       <span class="button-checkbox">
                         <button type="button" class="btn btn-sm" data-color="danger">Amb 1</button>
                         <input type="checkbox" class="hidden" checked />
                       </span>
                       -->
                </div>
              </div>

              <span class="glyphicon glyphicon-chevron-right"></span> Description:
              <div class="form-group">
                <textarea class="form-control" name="description" rows="5" id="comment" required></textarea>
              </div>

              <span class="glyphicon glyphicon-chevron-right"></span> Priority:
              <form required>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="priority" value="A">A
                    <span class="glyphicon giyphicon ok"></span></input>
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="priority" value="B">B
                    <span class="glyphicon giyphicon ok"></span></input>
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="priority" value="C">C
                    <span class="glyphicon giyphicon ok"></span></input>
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="priority" value="D">D
                    <span class="glyphicon giyphicon ok"></span></input>
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="priority" value="E">E
                    <span class="glyphicon giyphicon ok"></span></input>
                  </label>
                </div>
		
              </form>
              <br/><br/>

              
              <br/><br/>
              <button type="submit" class="btn btn-danger" style="display: block; width: 100%;">Dispatch</button>
            </div>
          </div>
        </form>

      </div><!--        end of row Dispatch panel      -->

    </div><!--end col-md-3-->
  </div><!--end row -->
</div><!--end container-->

<!-- This is modals for ambulance dispatcher's panel -->
<!-- Modal -->
<div id="dispatchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmET7s-wnswMRMtrc8UaleEQ-8-zkgw_w&libraries=places&callback=initAutocomplete"
        async defer></script>

<script src="{% static 'js/map.js' %}"></script>

{% endblock %}
