{% extends "leaflet/base.html" %}
{% load static %}

{% block leaflethead %}

    <script>
        var ambulance_status = {{ ambulance_status|safe }};
        var ambulance_capability = {{ ambulance_capability|safe }};
        var location_type= {{ location_type|safe }};
        var username = '{{ user.get_username|safe }}';
        var APIBaseUrl = '{% url 'index' %}api/';
        var MQTTBroker = {
            host: '{{ broker_websockets_host|safe }}',
            port: {{ broker_websockets_port|safe }}
        };
        var clientId = '{{ client_id|safe }}';
        var ambulance_css = {{ ambulance_css|safe }};
    </script>

{% endblock %}

{% block content %}

    <nav class="navbar navbar-light">
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse"
                data-target="#filtersDiv" aria-controls="filterDiv"
                aria-expanded="false" aria-label="Toggle filters">
            <span class="navbar-toggler-icon"></span>
        </button>

        <button class="btn btn-primary px-3 mx-1"
                id="dispatchBeginButton"
                data-toggle="collapse"
                data-target="#dispatchDiv" aria-controls="dispatchDiv"
                aria-expanded="false" aria-label="Toggle dispatching"
                onclick="beginDispatching()">
            Dispatch Ambulances
        </button>

        <button type="button"
                id="dispatchSubmitButton"
                class="btn btn-primary px-3 mx-1" style="display: none;">
            Dispatch
        </button>

        <button type="button"
                id="dispatchCancelButton"
                class="btn btn-secondary px-3 mx-1"
                data-toggle="collapse"
                data-target="#dispatchDiv"
                aria-expanded="true"
                aria-controls="dispatchDiv"
                onclick="endDispatching()" style="display: none;">
            Cancel
        </button>

    </nav>

    <div class="row mx-1">

        <!-- Filter -->
        <div class="col-md-2 collapse" id="filtersDiv">

            <!-- Ambulance Grid -->
            <h5>Ambulances:</h5>
            <div id="ambulance_availability">
                <div class="card form-group" id="ambulance_card_available">
                    <div class="card-header px-1 py-0"
                         id="ambulance_heading_available">
                        <h6 style="cursor: pointer;"
                            data-toggle="collapse"
                            data-target="#ambulance_available"
                            aria-expanded="true" aria-controls="ambulance_available">
                            <input type="checkbox" id="ambulance_checkbox_available">
                            <span role="button">Available</span>
                        </h6>
                    </div>
                    <div class="collapse show"
                         id="ambulance_available"
                         aria-labelledby="ambulance_heading_available" data-parent="#cardOne">
                        <div class="card-body p-0"
                             id="ambulance-grid-available">
                        </div>
                    </div>
                </div>
            </div>

            <h5>Capability:</h5>

            <h5>Locations:</h5>
            <ul>
                <li>Hospitals</li>
                <li>Bases</li>
                <li>AEDs</li>
                <li>Others</li>
            </ul>

        </div>

        <!-- Map -->
        <div class="col">
            <div id="live-map" style="height: 600px"></div>
        </div>

        <!-- Dispatching -->
        <div class="col-md-3 collapse ml-0 px-0" id="dispatchDiv">

            <!-- Dispatch -->

            <form id="dispatch_form_collapse"
                  method="POST" action="">
                {% csrf_token %}

                <h5>Priority:</h5>
                <form required>
                    <div class="btn-group btn-group-toggle border rounded" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input type="radio" name="priority" autocomplete="off" value="A">
                            A
                        </label>
                        <label class="btn btn-yellow">
                            <input type="radio" name="priority" autocomplete="off" value="B">
                            B
                        </label>
                        <label class="btn btn-warning">
                            <input type="radio" name="priority" autocomplete="off" value="C">
                            C
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" name="priority" autocomplete="off" value="D">
                            D
                        </label>
                        <label class="btn btn-info">
                            <input type="radio" name="priority" autocomplete="off" value="E">
                            E
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="priority" autocomplete="off" value="O">
                            &Omega;
                        </label>
                    </div>
                </form>

                <h5> Description:</h5>
                <textarea class="form-control" name="description"
                          rows="3" id="comment"
                          placeholder="Describe the incident"
                          required></textarea>

                <div class="float-right"
                     title="Click to automatically search for coordinates after changing the address">
                    update coordinates
                    <input id="update-coordinates" type="checkbox">
                </div>
                <h5>Street address:</h5>
                <input id="street" type="text"
                       name="street" class="form-control"
                       placeholder="Address" required autocomplete="street-address">

                <div class="float-right"
                     title="Click to automatically search for address after changing the coordinates">
                    update address
                    <input id="update-address" type="checkbox" checked/>
                </div>
                <h5>Coordinates:</h5>
                <div class="card"
                     title="Click on map to update coordinates">
                    <div class="card-body px-1 py-1">
                        <strong>Latitude:</strong>
                        <div id="curr-lat" style="display: inline-block;"></div>
                        <br/>
                        <strong>Longitude:</strong>
                        <div id="curr-lng" style="display: inline-block;"></div>
                    </div>
                </div>

                <h5>Ambulances:</h5>
                <div class="card px-0 py-0"
                     id="ambulance-selection">
                    <div class="card-body px-1 py-1">
                        <input id="ambulance-selection-message"
                               class="border-0 w-100"
                               placeholder="Click on or drag ambulances here"/>
                    </div>
                </div>

                <h5>Patients:</h5>
                <div id="patients">
                    <!--
                    <div class="form-row" id="patient-0">
                        <div class="col-sm-8 p-0">
                            <input id="patient-0-name" type="text"
                                   class="form-control"
                                   placeholder="Name">
                        </div>
                        <div class="col-sm-2 p-0">
                            <input id="patient-0-age" type="text"
                                   class="form-control"
                                   placeholder="Age"/>
                        </div>
                        <div class="col-sm-2 p-0">
                            <button class="btn btn-default new-patient"
                                    type="button"
                                    id="patient-0-button">
                                <span class="fas fa-plus"></span>
                            </button>
                        </div>
                    </div>
                    -->
                </div>

                <!--
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary px-3">
                            Dispatch
                        </button>
                        <button type="button" class="btn btn-secondary px-3"
                                data-toggle="collapse"
                                data-target="#dispatch_form_collapse"
                                aria-expanded="true"
                                aria-controls="dispatch_form_collapse"
                                onclick="endDispatching()">
                            Cancel
                        </button>
                    </div>
                    -->

            </form>

        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-3 float-right">

                <!-- Ambulance Info -->
                <div class="card form-group" id="cardTwo">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0" style="cursor: pointer;"
                            data-toggle="collapse"
                            data-target="#ambulance_info_collapse"
                            aria-expanded="true" aria-controls="ambulance_info_collapse">
                            <span role="button">Details</span>
                        </h5>
                    </div>
                    <div id="ambulance_info_collapse" class="collapse show"
                         aria-labelledby="headingTwo" data-parent="#cardTwo">
                        <div class="card-body" id="ambulance-detail">
                            <input type="hidden"
                                   name="change-status-ambulance-id"
                                   id="ambulance-detail-id">
                            <p>
                                <strong>Ambulance:</strong>
                                <span id="ambulance-detail-name"/>
                            </p>
                            <p>
                                <strong>Capability:</strong>
                                <span id="ambulance-detail-capability"/>
                            </p>
                            <p>
                                <strong>Updated on:</strong>
                                <span id="ambulance-detail-updated-on"/>
                            </p>
                            <p>
                                <strong>Status:</strong>
                                <select id="ambulance-detail-status-select"
                                        style="margin: auto;">
                                    {% for k, v in ambulance_status.items %}
                                    <option value="{{ k }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- This is modals for ambulance dispatcher's panel -->
    <!-- Modal -->
    <div id="dispatchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- Load required libraries -->

<!-- MQTT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

<!-- Cookies -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" type="text/javascript"></script>

<!-- Google Geocoder -->
<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmET7s-wnswMRMtrc8UaleEQ-8-zkgw_w&libraries=places&callback=dispatchInitAutocomplete"
        async defer></script>
-->

<!-- Load javascript code -->
<script src="{% static 'js/geocoder.js' %}"></script>
<script src="{% static 'js/dispatch.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'leaflet/js/leaflet.rotatedMarker.js' %}"></script>

{% endblock %}
