{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block content %}

    <!-- <nav class="navbar navbar-light"
         id="map-navbar">

        <button class="navbar-toggler mr-auto" type="button"
                data-toggle="collapse"
                data-target="#filtersDiv" aria-controls="filterDiv"
                aria-expanded="false" aria-label="Toggle ambulance filters">
            <span class="navbar-toggler-icon"></span>
        </button>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#dispatchDiv" aria-controls="dispatchDiv"
                aria-expanded="false" aria-label="Toggle call filters">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav> -->

    <div class="row mx-1">

        <!-- Filter -->
        <nav class="left-side-bar bg-light" id="filtersDiv">
            <!-- <div class="col-md-3 bg-light" id="filtersDiv"> -->
            
            <div class="d-flex justify-content-start" style="height: 3.8rem; background-color: #e9ecef;">
                <!-- ambulance/settings/calls button -->
                    <button type="button" class="btn-selected d-flex align-items-center justify-content-center" id="ambulance-tab-button">
                        <i class="fas fa-ambulance center tab-btn-icon" id="ambulance-tab-icon"></i>
                    </button>
                    <button type="button" class="tab-button d-flex align-items-center justify-content-center" id="settings-tab-button">
                        <i class="fas fa-cog center tab-btn-icon" id="settings-tab-icon"></i>

                    </button>
                    <!-- <button type="button" class="tab-button d-flex align-items-center justify-content-center" id="calls-tab-button">
                        <i class="fas fa-phone center tab-btn-icon" onclick="lhsToggleSelByIcon(this.parentNode.id)"></i>
                    </button> -->
                
                <!-- exit button -->
                <button type="button" class="tab-button d-flex align-items-center justify-content-center left-dismiss" id="left-return-tab-button">
                    <i class="fas fa-angle-left tab-btn-icon"></i>
                </button>						
            </div>

            <!-- Ambulances Filter (by default displayed, since ambulance tab is selected by default) -->
            <!-- <h5 class="mt-2"
                style="cursor: pointer;"
                data-toggle="collapse"
                data-target="#ambulance-status"
                aria-expanded="true"
                aria-controls="ambulance-status">
                <span class="fas fa-ambulance"></span>
                {% trans "Ambulances" %}
            </h5> -->
            <!-- <div class="collapse show"
                 id="ambulance-status">
            </div> -->
            <div class="ambulance-tab-content">
                <div id="ambulance-status"></div>
            </div>

            <!-- Settings Filters (including the following filters, by default hidden, since not selected yet) -->
            <!-- 1. Ambulance Online Filter -->
            <!-- <h5 class="mt-2"
                style="cursor: pointer;"
                data-toggle="collapse"
                data-target="#ambulance-online-status"
                aria-expanded="true"
                aria-controls="ambulance-online-status">
                <span class="fas fa-mobile-alt"></span>
                {% trans "Service" %}
            </h5>
            <div class="collapse"
                 id="ambulance-online-status">
            </div> -->
            <div class="settings-tab-content d-none">
                <h5 class="mt-2"
                    aria-expanded="true">
                    <span class="fas fa-mobile-alt"></span>
                    {% trans "Service" %}
                </h5>
                <div id="ambulance-online-status"></div>
            
                <!-- 2. Capability Filter -->
                <!-- <h5 class="mt-2"
                style="cursor: pointer;"
                data-toggle="collapse"
                data-target="#ambulance-capability"
                aria-expanded="true" aria-controls="ambulance-capability">
                <span class="fas fa-bed"></span>
                {% trans "Capability" %}
                </h5>
                <div class="collapse ml-1"
                    id="ambulance-capability">
                </div> -->
           
                <h5 class="mt-2"
                    aria-expanded="true">
                    <span class="fas fa-bed"></span>
                    {% trans "Capability" %}
                </h5>
                <div id="ambulance-capability"></div>


                <!-- 3. Location Filter -->
                <!-- <h5 class="mt-2"
                style="cursor: pointer;"
                data-toggle="collapse"
                data-target="#location-type"
                aria-expanded="true" aria-controls="location-type">
                <span class="fas fa-map-marker"></span>
                {% trans "Locations" %}
                </h5>
                <div class="collapse ml-1"
                    id="location-type">
                </div> -->
                <h5 class="mt-2"
                    aria-expanded="true">
                    <span class="fas fa-map-marker"></span>
                    {% trans "Locations" %}
                </h5>
                <div id="location-type"></div>
            </div>

            <!-- Calls Filter -->               <!-- TODO: not yet implemented!! -->
            <div class="calls-tab-content d-none" id="TODO"></div>

            <!--</div>-->
        </nav>

        
        <!-- open/close left side bar btn -->
        <div class="open-menu" id="left-side-bar-btn">
            <i class="fas fa-filter" id="left-side-bar-filter-icon"></i>
            <i class="fas fa-angle-right fa-lg"></i>
        </div>
        

        <!-- Map -->
        <div class="col border-top border-secondary px-0">
            <div id="live-map" style="height: 650px"></div>
        </div>

        <!-- Dispatching -->
        <nav class="right-side-bar bg-light" id="dispatchDiv">
            
            <div class="d-flex justify-content-end" style="height: 3.8rem; background-color: #e9ecef;">
                <!-- exit button -->
                <button type="button" class="tab-button d-flex align-items-center justify-content-center right-dismiss" id="right-return-tab-button">
                    <i class="fas fa-angle-right tab-btn-icon"></i>
                </button>	

                <!-- new-call/calls button -->
                <button type="button" class="btn-selected d-flex align-items-center justify-content-center" id="dispatch-tab-button">
                    <img src="{%  static 'icons/dispatch-icon.png' %}" class="d-none" id="dispatch-tab-icon"></img>
                    <img src="{%  static 'icons/dispatch-icon-active.png' %}" id="dispatch-tab-icon-active"></img>

                </button>
                <button type="button" class="tab-button d-flex align-items-center justify-content-center" id="calls-tab-button">
                    <i class="fas fa-phone center tab-btn-icon" id="calls-tab-icon"></i>
                </button>        					
            </div>

            <!-- Dispatch tab -->
            <div class="dispatch-tab-content" id="newDispatchDiv">
                <!-- Dispatch -->
                <form id="dispatch-form-collapse"
                      method="POST" action="">
                    {% csrf_token %}

                    <button type="submit"
                            id="dispatchSubmitButton"
                            class="btn btn-danger btn-block">
                        {% trans "Dispatch" %}
                    </button>

                    <h5 class="mb-0">
                        {% trans "Priority" %}
                    </h5>
                    {% if priority_code_list %}
                    <div class="text-right">
                        <label class="d-inline-block text-right" id="priority-classification" name="priority-classification">
                            <span class="text-muted small">{% trans "Priority Classification" %}</span>
                        </label>
                    </div>
                    {% endif  %}
                    <div class="text-right">
                        <div id="priority-buttons"
                             class="btn-group btn-group-toggle border rounded"
                             data-toggle="buttons">
                        </div>
                    </div>
                    {% if priority_code_list %}
                    <div class="text-right">
                        <label class="d-inline-block text-right" id="priority-code" name="priority-code">
                            <span class="text-muted small">{% trans "Priority Code" %}</span>
                        </label>
                    </div>
                    <input class="form-control form-control-sm"
                           id="priority-code-input"
                           list="priority-code-list"
                           name="priority-code-input"
                           placeholder="{% trans 'Priority Code' %}">
                    <datalist id="priority-code-list">
                        {% for code in priority_code_list %}
                        <option id="priority-code-{{ code.id }}" value="{{ code.prefix.id }}-{{ code.priority }}-{{ code.suffix }}">{{ code.label }}</option>
                        {% endfor %}
                    </datalist>
                    {% endif  %}

                    {% if radio_code_list %}
                    <h5 class="mb-0">
                        {% trans "Radio Code" %}
                    </h5>
                    <div class="text-right">
                        <label class="d-inline-block text-right" id="radio-code" name="radio-code">
                            <span class="text-muted small">{% trans "Radio Code" %}</span>
                        </label>
                    </div>
                    <input class="form-control form-control-sm"
                           id="radio-code-input" list="radio-code-list"
                           name="radio-code-input"
                           placeholder="{% trans 'Radio Code' %}">
                    <datalist id="radio-code-list">
                        {% for code in radio_code_list %}
                        <option id="radio-code-{{ code.id }}" value="{{ code.code }}">{{ code.label }}</option>
                        {% endfor %}
                    </datalist>
                    {% endif  %}

                    <h5>
                        {% trans "Description" %}
                    </h5>
                    <textarea class="form-control form-control-sm"
                              name="description"
                              rows="2" id="comment"
                              placeholder="{% trans 'Describe the incident' %}"
                              required></textarea>

                    <h5>
                        {% trans "Street address" %}
                        <div class="float-right small"
                             title="Click to automatically search for coordinates after changing the address">
                            {% trans "update coordinates" %}
                            <input id="update-coordinates" type="checkbox">
                        </div>
                    </h5>
                    <input class="form-control form-control-sm"
                           id="street" type="text"
                           name="street"
                           placeholder="{% trans 'Address' %}" required> <!-- autocomplete="street-address"-->

                    <h5>
                        {% trans "Coordinates" %}
                        <div class="float-right small"
                             title="{% trans 'Click to automatically search for address after changing the coordinates' %}">
                            {% trans "update address" %}
                            <input id="update-address" type="checkbox" checked>
                        </div>
                    </h5>
                    <div class="card"
                         title="Click on map to update coordinates">
                        <div class="card-body py-1 px-3 small">
                            <strong>{% trans "Lat" %}:</strong>
                            <div id="curr-lat" style="display: inline-block;"></div>
                            , &nbsp;
                            <strong>{% trans "Lon" %}:</strong>
                            <div id="curr-lng" style="display: inline-block;"></div>
                        </div>
                    </div>

                    <h5>
                        {% trans "Ambulances" %}
                    </h5>
                    <div class="card px-0 py-0">
                        <div class="card-body py-1 px-2"
                             id="ambulance-selection">
                            <input id="ambulance-selection-message"
                                   class="border-0 w-100 small"
                                   placeholder="{% trans 'Click on or drag ambulances here' %}"/>
                        </div>
                    </div>

                    <h5>
                        {% trans "Patients" %}
                    </h5>
                    <div id="patients">
                    </div>

                    <h5>
                        {% trans "SMS Notifications" %}
                    </h5>
                    <div id="sms-notifications">
                    </div>
                    <datalist id="sms-notifications-list">
                        {% for user in sms_notifications_list %}
                            <option data-id="{{ user.id }}" value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </datalist>

                </form>

            </div>

            <!-- Calls tab -->
            <div class="calls-tab-content d-none">
                <div id="call-status"></div>
            </div>
        </nav>

        
        <!-- open/close right side bar btn -->
        <div class="open-menu" id="right-side-bar-btn">
            <i class="fas fa-angle-left fa-lg"></i>
            <img src="{%  static 'icons/phone-icon.png' %}" id="right-side-bar-phone-icon"></img>
            <img src="{%  static 'icons/phone-icon-active.png' %}" id="right-side-bar-phone-icon-active"></img>
        </div>



        
        <!-- <div class="col-md-3 border-top border-secondary bg-light"
             id="dispatchDiv">

            {% if user|is_dispatcher %} -->

                <!-- Calls Filter -->
                <!-- <h5 class="mt-2"
                    style="cursor: pointer;"
                    data-toggle="collapse"
                    data-target="#newDispatchDiv"
                    aria-expanded="true" aria-controls="newDispatchDiv">
                    <span class="fas fa-shipping-fast"></span>
                    <span>
                        {% trans "New Call" %}
                    </span>
                </h5>

                <div class="collapse" id="newDispatchDiv"> -->
            <!--    <div class="dispatch-tab-content" id="newDispatchDiv"> -->
                    <!-- Dispatch -->
            <!--        <form id="dispatch-form-collapse"
                          method="POST" action="">
                        {% csrf_token %}

                        <button type="submit"
                                id="dispatchSubmitButton"
                                class="btn btn-danger btn-block">
                            {% trans "Dispatch" %}
                        </button>

                        <h5 class="mb-0">
                            {% trans "Priority" %}
                        </h5>
                        {% if priority_code_list %}
                        <div class="text-right">
                            <label class="d-inline-block text-right" id="priority-classification" name="priority-classification">
                                <span class="text-muted small">{% trans "Priority Classification" %}</span>
                            </label>
                        </div>
                        {% endif  %}
                        <div class="text-right">
                            <div id="priority-buttons"
                                 class="btn-group btn-group-toggle border rounded"
                                 data-toggle="buttons">
                            </div>
                        </div>
                        {% if priority_code_list %}
                        <div class="text-right">
                            <label class="d-inline-block text-right" id="priority-code" name="priority-code">
                                <span class="text-muted small">{% trans "Priority Code" %}</span>
                            </label>
                        </div>
                        <input class="form-control form-control-sm"
                               id="priority-code-input"
                               list="priority-code-list"
                               name="priority-code-input"
                               placeholder="{% trans 'Priority Code' %}">
                        <datalist id="priority-code-list">
                            {% for code in priority_code_list %}
                            <option id="priority-code-{{ code.id }}" value="{{ code.prefix.id }}-{{ code.priority }}-{{ code.suffix }}">{{ code.label }}</option>
                            {% endfor %}
                        </datalist>
                        {% endif  %}

                        {% if radio_code_list %}
                        <h5 class="mb-0">
                            {% trans "Radio Code" %}
                        </h5>
                        <div class="text-right">
                            <label class="d-inline-block text-right" id="radio-code" name="radio-code">
                                <span class="text-muted small">{% trans "Radio Code" %}</span>
                            </label>
                        </div>
                        <input class="form-control form-control-sm"
                               id="radio-code-input" list="radio-code-list"
                               name="radio-code-input"
                               placeholder="{% trans 'Radio Code' %}">
                        <datalist id="radio-code-list">
                            {% for code in radio_code_list %}
                            <option id="radio-code-{{ code.id }}" value="{{ code.code }}">{{ code.label }}</option>
                            {% endfor %}
                        </datalist>
                        {% endif  %}

                        <h5>
                            {% trans "Description" %}
                        </h5>
                        <textarea class="form-control form-control-sm"
                                  name="description"
                                  rows="2" id="comment"
                                  placeholder="{% trans 'Describe the incident' %}"
                                  required></textarea>

                        <h5>
                            {% trans "Street address" %}
                            <div class="float-right small"
                                 title="Click to automatically search for coordinates after changing the address">
                                {% trans "update coordinates" %}
                                <input id="update-coordinates" type="checkbox">
                            </div>
                        </h5>
                        <input class="form-control form-control-sm"
                               id="street" type="text"
                               name="street"
                               placeholder="{% trans 'Address' %}" required> <!-- autocomplete="street-address"-->
                    <!--
                        <h5>
                            {% trans "Coordinates" %}
                            <div class="float-right small"
                                 title="{% trans 'Click to automatically search for address after changing the coordinates' %}">
                                {% trans "update address" %}
                                <input id="update-address" type="checkbox" checked>
                            </div>
                        </h5>
                        <div class="card"
                             title="Click on map to update coordinates">
                            <div class="card-body py-1 px-3 small">
                                <strong>{% trans "Lat" %}:</strong>
                                <div id="curr-lat" style="display: inline-block;"></div>
                                , &nbsp;
                                <strong>{% trans "Lon" %}:</strong>
                                <div id="curr-lng" style="display: inline-block;"></div>
                            </div>
                        </div>

                        <h5>
                            {% trans "Ambulances" %}
                        </h5>
                        <div class="card px-0 py-0">
                            <div class="card-body py-1 px-2"
                                 id="ambulance-selection">
                                <input id="ambulance-selection-message"
                                       class="border-0 w-100 small"
                                       placeholder="{% trans 'Click on or drag ambulances here' %}"/>
                            </div>
                        </div>

                        <h5>
                            {% trans "Patients" %}
                        </h5>
                        <div id="patients">
                        </div>

                        <h5>
                            {% trans "SMS Notifications" %}
                        </h5>
                        <div id="sms-notifications">
                        </div>
                        <datalist id="sms-notifications-list">
                            {% for user in sms_notifications_list %}
                                <option data-id="{{ user.id }}" value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        </datalist>

                    </form>

                </div>

            {% endif %} -->

            <!-- Calls Filter -->
        <!--    <h5 class="mt-2"
                style="cursor: pointer;"
                data-toggle="collapse"
                data-target="#call-status"
                aria-expanded="true" aria-controls="call-status">
                <span class="fas fa-phone"></span>
                <span id="call-header">
                    {% trans "Calls" %}
                </span>
                <span id="call-header-count" class="badge badge-primary"></span>
            </h5>
            <div class="collapse show"
                 id="call-status">
            </div>

        </div> -->

    </div>

{% endblock %}

{% block scripts %}

<!-- Load required libraries -->

<!-- Cookies
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" type="text/javascript"></script>
-->

{% autoescape off %}
<script>
    const ambulance_status = {{ ambulance_status}};
    const ambulance_status_order = {{ ambulance_status_order}};
    const ambulance_capability = {{ ambulance_capability }};
    const ambulance_capability_order = {{ ambulance_capability_order }};
    const ambulance_online = {{ ambulance_online }};
    const ambulance_online_order = {{ ambulance_online_order }};
    const location_type= {{ location_type }};
    const location_type_order= {{ location_type_order }};
    const call_status = {{ call_status }};
    const call_status_order = {{ call_status_order }};
    const waypoint_status = {{ waypoint_status }};
    const waypoint_status_order = {{ waypoint_status_order }};
    const call_priority = {{ call_priority }};
    const call_priority_order = {{ call_priority_order }};
    const ambulancecall_status = {{ ambulancecall_status }};
    const ambulance_css = {{ ambulance_css }};
    const call_priority_css = {{ call_priority_css }};
    const translation_table = {{ translation_table }};
    const defaults = {{ defaults }};

    const html_settings = {
        map_provider: {{ map_provider }},
        ambulance_status: {{ ambulance_status }},
        ambulance_status_order: {{ ambulance_status_order }},
        ambulance_capability: {{ ambulance_capability }},
        ambulance_capability_order: {{ ambulance_capability_order }},
        ambulance_online: {{ ambulance_online }},
        ambulance_online_order: {{ ambulance_online_order }},
        location_type: {{ location_type }},
        location_type_order: {{ location_type_order }},
        call_status: {{ call_status }},
        call_status_order: {{ call_status_order }},
        waypoint_status: {{ waypoint_status }},
        waypoint_status_order: {{ waypoint_status_order }},
        call_priority: {{ call_priority }},
        call_priority_order: {{ call_priority_order }},
        ambulancecall_status: {{ ambulancecall_status }},
        ambulance_css: {{ ambulance_css }},
        call_priority_css: {{ call_priority_css }},
        translation_table: {{ translation_table }},
        defaults: {{ defaults }},
    };    
</script>
{% endautoescape %}

{% render_bundle 'main' 'js' 'MAP' %}  

{% endblock %}
