{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewpoint" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Project CSS -->
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    -->

    <!-- JQuery and Bootstrap js -->
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- title -->
    <title>{% block title %}EMSTrack - Ambulance Tracker{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'ambulance:map' %}">EMSTrack</a>

    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#myNavbar" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Menu -->
    <div class="collapse navbar-collapse" id="myNavbar">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ambulance:list' %}">
                    <span class="fas fa-ambulance"></span>
                    Ambulances
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hospital:list' %}">
                    <span class="fas fa-hospital"></span>
                    Hospitals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ambulance:map' %}">
                    <span class="fas fa-globe"></span>
                    Map
                </a>
            </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"
                   href="{% url 'login:admin' %}">
                    <span class="fas fa-wrench"></span>
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'login:user_list' %}">Users</a>
                    <a class="dropdown-item" href="{% url 'login:group_list' %}">Groups</a>
                    <a class="dropdown-item" href="{% url 'hospital:equipment_list' %}">Equipment</a>
                    <a class="dropdown-item" href="{% url 'ambulance:location_list' %}">Locations</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login:logout' %}">
                    <span class="fas fa-sign-out-alt"></span>
                    &nbsp;Logout {{request.user.first_name}}
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login:signup' %}">
                    <span class="fas fa-user-plus"></span>&nbsp;
                    Sign Up
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login:login' %}">
                    <span class="fas fa-sign-in-alt"></span>&nbsp;
                    Login
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>

<script>
    // make current page active
    var pname = $(location).attr('pathname').split('/', 3).join('/');
    $('.nav-item a[href^="' + pname + '"]').addClass('nav-item active');
</script>

<div class="conteiner">
    <!-- Messages -->
    {% include 'messages.html' %}
    <!-- Content block -->
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    {% block footer %}
    {% endblock %}
</footer>

</body>
</html>
