<!-- Homepage contents -->
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>EMSTrack</h1>

            <h3>{% trans "Welcome to" %} EMSTrack</h3>

            <p>
                {% trans "This is an experimental emergency service manager for the Tijuana Red Cross." %}
            </p>

            <h3>{% trans "Mobile Android Application" %}</h3>

            <p>
                {% trans "Download the Android app from " %}
                <a href="https://play.google.com/store/apps/details?id=org.emstrack.ambulance">Google Play</a>
            </p>
            
        </div>
    </div>
</div>