{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">EMSTrack Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>
                        Your account doesn't have access to this page.
                        To proceed, please login with an account that has access.
                    </p>
                </div>
                {% endif %}
                {% endif %}

                <form class="form-signin"
                      id="signInForm"
                      method="post"
                      action="{% url 'login:login' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_username">
                            Username:
                        </label>
                        <input type="text" name="username" autofocus placeholder="Username"
                               class="form-control input-lg"
                               maxlength="150" required id="id_username"/>
                    </div>
                    <div class="form-group">
                        <label for="id_password">
                            Password:
                        </label>
                        <input type="password" name="password" placeholder="Password"
                               class="form-control input-lg"
                               required id="id_password">
                    </div>

                    <a href="{% url 'login:password_reset' %}">Forgot Password?</a>

                    <input type="hidden" name="next" value="{{ next }}"/>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitButton">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

            <h1>EMSTrack</h1>

            <p>Welcome to EMSTrack.</p>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#submitButton").on('click', function() {
            $("#signInForm").submit();
        });

        // Should start up modal?
        var pathname = window.location.pathname;
        console.log('pathname = ' + pathname);
        if (pathname == '/auth/login/') {
            $('#loginModal').modal({
                keyboard: false
            })
        }
        // else user should hit login button

    });

</script>

</script>

{% endblock %}
