{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>EMSTrack</h1>

            <h3>Welcome to EMSTrack.</h3>

            <p>
                Some text explaining what this is all about.
            </p>

            <h3>Contact:</h3>

        </div>
    </div>
</div>


<!-- Modal for signup and login -->

<div class="modal" tabindex="-1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="loginTitle" class="modal-title">EMSTrack Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <form class="form-signin"
                      id="signInForm"
                      method="post"
                      action="{% url 'login:login' %}">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <p>
                            <small style="color: grey">{{ field.help_text }}</small>
                        </p>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <a id="passwordReset" href="{% url 'login:password_reset' %}">Forgot Password?</a>

                    <input type="hidden" name="next" value="{{ next }}"/>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitButton">Login</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#submitButton").on('click', function() {
            $("#signInForm").submit();
        });

        // Should start up modal?
        var pathname = window.location.pathname;
        console.log('pathname = ' + pathname);
        if (pathname == '/auth/login/') {

            // bring up modal
            $('#loginModal').modal({
                keyboard: false
            });

        } else if (pathname == '/auth/signup/') {

            // adjust modal
            $('#loginTitle').html('EMSTrack Signup');
            $('#signInForm').attr('action', '{% url 'login:signup' %}');
            $('#passwordReset').hide();
            $('#submitButton').html('Signup');

            // bring up modal
            $('#loginModal').modal({
                keyboard: false
            });

        }

    });

</script>

</script>

{% endblock %}
