{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{{ token }}
<!-- {{ username1 }} -->
<!-- {{ token_2 }} -->
<!-- {{ username2 }} -->
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://localhost/dashboard/?token={{ token }}"></iframe>
</div>

{% endblock %}

{% block scripts %}

{% autoescape off %}
<script>

    const token = {{ token }}
    // const token_2 = {{ token_2 }}
    // const username1 = {{ username1 }}
    // const username2 = {{ username2 }}

</script>
{% endautoescape %}

{% endblock %}

